<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_HEALTH"
        android:minSdkVersion="34" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name=".service.StepService"
            android:foregroundServiceType="health" />
    </application>

</manifest>